<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>
            Index of /hun/python/flask_peldak/templates
        </title>
        <style>
            .icon {
                width: 23px;
            }
            .name {
                width: 500px;
            }
            .date {
                width: 170px;
            }
            .size {
                width: 100px;
            }
            .open {
                width: 170px;
            }
            .description {
                width: 170px;
            }
            #top_hr {
                margin-top: 0px;
            }
            h1 {
                font-family: 'Times New Roman';
                font-weight: bold;
            }
            table {
                font-family : monospace;
                border-collapse: collapse;
            }
            td {
                padding-top: 0px;
                padding-bottom: 0px;
            }
            h1 {
                display: block;
                font-size: 32px;
                font-weight: bold;
            }
            body{
                color : black;
                background-color : #eaf1fd;
            }
        </style>
    </head>
    <body>
        <h1>
            Index of /hun/python/flask_peldak/templates
        </h1>
        <table>
                <tr>
                    <td class="icon"><img src="https://jabbalaci.github.io/teaching-assets/icons/blank.gif" alt="blank.gif"></td>
                    <td class="name">Name</td>
                    <!-- <td class="date">Last modified</td> -->
                    <td class="size">Size</td>
                    <td class="open">Open</td>
                    <td class="description">Description</td>
                </tr>
        </table>
        <hr id="top_hr">
        <table>
            <tbody>
                
                    <tr>
                        <td class="icon"><img src="https://jabbalaci.github.io/teaching-assets/icons/back.gif" alt="back.gif"></td>
                        <td class="name"><a href="../index.html">Parent Directory</a></td>
                        <!-- <td class="date" /> -->
                        <td class="size">-</td>
                        <td class="open" />
                        <td class="description" />
                    </tr>
                
                <tr>
                        <td class="icon"><img src="https://jabbalaci.github.io/teaching-assets/icons/link.gif" alt="link.gif"></td>
                        <td class="name"><a href="02-index.html">02-index.html</a></td>
                        <!-- <td class="date">2016-12-19&nbsp;23:44</td> -->
                        <td class="size">26</td>
                        <td class="open">
                            
                                &nbsp;
                            
                        </td>
                        <td class="description"></td>
                    </tr>
                <tr>
                        <td class="icon"><img src="https://jabbalaci.github.io/teaching-assets/icons/link.gif" alt="link.gif"></td>
                        <td class="name"><a href="02b-index.html">02b-index.html</a></td>
                        <!-- <td class="date">2022-11-28&nbsp;19:31</td> -->
                        <td class="size">26</td>
                        <td class="open">
                            
                                &nbsp;
                            
                        </td>
                        <td class="description"></td>
                    </tr>
                <tr>
                        <td class="icon"><img src="https://jabbalaci.github.io/teaching-assets/icons/link.gif" alt="link.gif"></td>
                        <td class="name"><a href="03-index.html">03-index.html</a></td>
                        <!-- <td class="date">2016-12-19&nbsp;23:58</td> -->
                        <td class="size">75</td>
                        <td class="open">
                            
                                &nbsp;
                            
                        </td>
                        <td class="description"></td>
                    </tr>
                <tr>
                        <td class="icon"><img src="https://jabbalaci.github.io/teaching-assets/icons/link.gif" alt="link.gif"></td>
                        <td class="name"><a href="04-index.html">04-index.html</a></td>
                        <!-- <td class="date">2016-12-20&nbsp;00:10</td> -->
                        <td class="size">38</td>
                        <td class="open">
                            
                                &nbsp;
                            
                        </td>
                        <td class="description"></td>
                    </tr>
                <tr>
                        <td class="icon"><img src="https://jabbalaci.github.io/teaching-assets/icons/link.gif" alt="link.gif"></td>
                        <td class="name"><a href="05-greet.html">05-greet.html</a></td>
                        <!-- <td class="date">2022-11-28&nbsp;19:54</td> -->
                        <td class="size">30</td>
                        <td class="open">
                            
                                &nbsp;
                            
                        </td>
                        <td class="description"></td>
                    </tr>
                <tr>
                        <td class="icon"><img src="https://jabbalaci.github.io/teaching-assets/icons/link.gif" alt="link.gif"></td>
                        <td class="name"><a href="05-index.html">05-index.html</a></td>
                        <!-- <td class="date">2022-11-28&nbsp;20:11</td> -->
                        <td class="size">185</td>
                        <td class="open">
                            
                                &nbsp;
                            
                        </td>
                        <td class="description"></td>
                    </tr>
                <tr>
                        <td class="icon"><img src="https://jabbalaci.github.io/teaching-assets/icons/link.gif" alt="link.gif"></td>
                        <td class="name"><a href="05p-index.html">05p-index.html</a></td>
                        <!-- <td class="date">2022-11-28&nbsp;20:29</td> -->
                        <td class="size">186</td>
                        <td class="open">
                            
                                &nbsp;
                            
                        </td>
                        <td class="description"></td>
                    </tr>
                <tr>
                        <td class="icon"><img src="https://jabbalaci.github.io/teaching-assets/icons/link.gif" alt="link.gif"></td>
                        <td class="name"><a href="06-icecream.html">06-icecream.html</a></td>
                        <!-- <td class="date">2019-10-03&nbsp;11:06</td> -->
                        <td class="size">322</td>
                        <td class="open">
                            
                                &nbsp;
                            
                        </td>
                        <td class="description"></td>
                    </tr>
                <tr>
                        <td class="icon"><img src="https://jabbalaci.github.io/teaching-assets/icons/link.gif" alt="link.gif"></td>
                        <td class="name"><a href="06-index.html">06-index.html</a></td>
                        <!-- <td class="date">2017-09-28&nbsp;09:11</td> -->
                        <td class="size">26</td>
                        <td class="open">
                            
                                &nbsp;
                            
                        </td>
                        <td class="description"></td>
                    </tr>
                <tr>
                        <td class="icon"><img src="https://jabbalaci.github.io/teaching-assets/icons/link.gif" alt="link.gif"></td>
                        <td class="name"><a href="07-index.html">07-index.html</a></td>
                        <!-- <td class="date">2017-09-28&nbsp;09:17</td> -->
                        <td class="size">26</td>
                        <td class="open">
                            
                                &nbsp;
                            
                        </td>
                        <td class="description"></td>
                    </tr>
                <tr>
                        <td class="icon"><img src="https://jabbalaci.github.io/teaching-assets/icons/link.gif" alt="link.gif"></td>
                        <td class="name"><a href="08-index.html">08-index.html</a></td>
                        <!-- <td class="date">2022-11-28&nbsp;21:48</td> -->
                        <td class="size">239</td>
                        <td class="open">
                            
                                &nbsp;
                            
                        </td>
                        <td class="description"></td>
                    </tr>
                <tr>
                        <td class="icon"><img src="https://jabbalaci.github.io/teaching-assets/icons/link.gif" alt="link.gif"></td>
                        <td class="name"><a href="html-template.html">html-template.html</a></td>
                        <!-- <td class="date">2022-11-28&nbsp;20:23</td> -->
                        <td class="size">148</td>
                        <td class="open">
                            
                                &nbsp;
                            
                        </td>
                        <td class="description"></td>
                    </tr>
                </tbody>
        </table>
        <hr id="bottom_hr"><address>Apache/2.4.23 at github.io Port 80</address>
        
    </body>
</html>